modules = ["nodejs-20", "web", "python-3.11", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["python3"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33185
externalPort = 3000

[[ports]]
localPort = 34269
externalPort = 4200

[[ports]]
localPort = 35835
externalPort = 3002

[[ports]]
localPort = 37789
externalPort = 6000

[[ports]]
localPort = 40149
externalPort = 3001

[[ports]]
localPort = 40387
externalPort = 8000

[[ports]]
localPort = 41721
externalPort = 3003

[[ports]]
localPort = 42131
externalPort = 5000

[[ports]]
localPort = 42229
externalPort = 6800

[[ports]]
localPort = 44023
externalPort = 5173

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_database:1.0.0", "javascript_log_in_with_replit:1.0.0"]

[userenv]

[userenv.shared]
GOOGLE_OAUTH_CLIENT_ID = "64093296626-7ukjd1c4q9d4tc8f2a3d09cemaqjogl3.apps.googleusercontent.com"
GOOGLE_OAUTH_CLIENT_SECRET = "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"
GOOGLE_OAUTH_REDIRECT_URI = "https://5f934498-ccd6-4cb0-b709-fcf69c38f837-00-1yxr91kqzcqpe.worf.replit.dev/api/auth/google/callback"
TELEGRAM_BOT_TOKEN = "8504978808:AAF5zslLD68a4IQTF5Mfbcy8pc_IOU7Wulw"
