modules = ["nodejs-20", "python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Iqbal CV Bot"

[[workflows.workflow]]
name = "Iqbal CV Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"

[workflows.workflow.metadata]
outputType = "console"

[userenv]

[userenv.shared]
BOT_TOKEN = "8429453536:AAFDhpqsvPyXdWZlya375qXTcO46bJNmTH0"
